html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
  font: 16px "Martel Sans", 'PT Serif', 'STZhongsong', '华文中宋', 'Microsoft Yahei', sans-serif;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
html {
  height: 100%;
}
body {
  background: #fff;
  font-size: 16px;
  font-family: "Martel Sans", 'PT Serif', 'STZhongsong', '华文中宋', 'Microsoft Yahei', sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #2d2d40;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
a,
button {
  outline: none;
  text-decoration: none;
}
.menu-toggle {
  position: fixed;
  z-index: 100;
  width: 25px;
  height: 25px;
  top: 14px;
  left: 14px;
  cursor: pointer;
  background: none;
  border: none;
  display: none;
  margin: -2px 15px 0 0;
}
.menu-toggle span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #81c483;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu-toggle span:before,
.menu-toggle span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #81c483;
  content: '';
}
.menu-toggle span:before {
  -webkit-transform: translateY(-7px);
  -webkit-transform: translateY(-7px);
  -moz-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  transform: translateY(-7px);
}
.menu-toggle span:after {
  -webkit-transform: translateY(7px);
  -webkit-transform: translateY(7px);
  -moz-transform: translateY(7px);
  -ms-transform: translateY(7px);
  transform: translateY(7px);
}
@media screen and (max-width: 599px) {
  .menu-toggle {
    display: inline-block;
  }
}
@media screen and (min-width: 600px) {
  .ml-has-sidebar {
    margin-left: 300px;
  }
  .ml-no-sidebar {
    margin-left: 30px;
  }
  #main,
  #sidebar {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}
@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.article-meta a,
a.article-title,
.article-entry a,
.article-more-link a,
#comments a,
.archive-year-wrap a,
.archive-category-wrap a,
.archive-tag-wrap a,
.archive-article-title,
#footer a,
.article-entry .gist .gist-file .gist-meta a,
.layout-wrap-inner .category-list a,
.tag-cloud a {
  color: #2d2d40;
  text-decoration: none;
  border-bottom: 1px dotted transparent;
}
.article-meta a:hover,
a.article-title:hover,
.article-entry a:hover,
.article-more-link a:hover,
#comments a:hover,
.archive-year-wrap a:hover,
.archive-category-wrap a:hover,
.archive-tag-wrap a:hover,
.archive-article-title:hover,
#footer a:hover,
.article-entry .gist .gist-file .gist-meta a:hover,
.layout-wrap-inner .category-list a:hover,
.tag-cloud a:hover {
  border-bottom-color: #000;
}
.article-entry a {
  border-bottom: 1px dotted #000;
}
.article-entry h1 {
  font-size: 2em;
}
.article-entry h2 {
  font-size: 1.5em;
}
.article-entry h3 {
  font-size: 1.3em;
}
.article-entry h4 {
  font-size: 1.2em;
}
.article-entry h5 {
  font-size: 1em;
}
.article-entry h6 {
  font-size: 1em;
  color: #939393;
}
.article-entry hr {
  border: 1px dashed #ddd;
}
.article-entry strong {
  font-weight: bold;
  color: #333;
}
.article-entry em,
.article-entry cite {
  font-style: italic;
}
.article-entry sup,
.article-entry sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup {
  top: -0.5em;
}
.article-entry sub {
  bottom: -0.2em;
}
.article-entry small {
  font-size: 0.85em;
}
.article-entry acronym,
.article-entry abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin: 0 20px;
  line-height: 1.6em;
}
.article-entry ul ul,
.article-entry ol ul,
.article-entry ul ol,
.article-entry ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul {
  list-style: disc;
}
.article-entry ol {
  list-style: decimal;
}
.article-entry dt {
  font-weight: bold;
}
.top-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  line-height: 1;
  padding: 15px 15px 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #7b7b7b;
}
.top-bar__headline {
  margin: 0;
  font-size: 0.75em;
}
.search {
  text-align: right;
  font-size: 0.75em;
  margin-left: auto;
}
.search input[type='text'] {
  border: none;
  outline: none;
  width: 80%;
}
.search .fa {
  cursor: pointer;
  font-weight: bold;
  color: #81c483;
  font-size: 1.3em;
}
@media screen and (max-width: 599px) {
  .top-bar {
    padding: 15px 15px 10px 60px;
  }
}
@media screen and (max-width: 375px) {
  .top-bar__headline {
    display: none;
  }
}
.article {
  margin: 50px 10%;
  border-bottom: 1px solid #ddd;
}
.article-inner {
  margin-bottom: 15px;
  overflow: hidden;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-meta a {
  color: #939393;
}
.article-date {
  float: left;
}
.article-category {
  float: left;
  margin-left: 8px;
  color: #939393;
}
.article-category:before {
  content: "\2022";
}
.article-category span {
  margin-left: 8px;
}
.article-category-link {
  margin-left: 8px;
}
.article-comment-link-wrap {
  float: left;
  margin-left: 8px;
  color: #939393;
}
.article-comment-link-wrap:before {
  content: "\2022";
}
.article-comment-link {
  margin-left: 8px;
}
.article-header {
  margin-bottom: 10px;
}
.article-title {
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
}
.article-entry {
  color: #555;
  padding: 0;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry p,
.article-entry table {
  line-height: 1.6em;
  margin: 1.6em 0;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: 600;
  line-height: 1.4em;
  margin: 1em 0;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: 600;
  border-bottom: 3px solid #ddd;
  padding-bottom: 0.5em;
}
.article-entry td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.article-entry blockquote {
  border-left: #4a4a4a 0.4em solid;
  margin: 1.6em 0;
  padding-left: 1.6em;
  font-style: italic;
}
.article-entry blockquote footer {
  font-size: 16px;
  margin: 1.6em 0;
  font-family: font-sans;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #939393;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link a {
  color: #939393;
  border-bottom-color: #939393;
}
.article-footer {
  font-size: 0.85em;
  padding: 1.6em 0;
  line-height: 1.6em;
  margin: 0;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #939393;
  text-decoration: none;
}
.article-footer a:hover {
  color: #2d2d40;
}
.article-tag-list-item {
  float: left;
  margin-right: 10px;
}
.article-tag-list-link:before {
  content: "#";
}
#article-nav {
  position: relative;
  margin: 20px 0;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
.article-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #939393;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #2d2d40;
}
@media screen and (min-width: 840px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
    margin-top: 50px;
  }
}
#article-nav-newer {
  float: left;
  text-align: left;
}
#article-nav-older {
  float: right;
  text-align: right;
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ddd;
  line-height: 1em;
  font-weight: 600;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}
.article-gallery {
  background: #000;
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.article-toc {
  display: none;
  position: fixed;
  left: 50%;
  top: 110px;
  font-size: 0.9em;
  width: 260px;
  margin-left: 400px;
  padding-left: 20px;
  overflow-y: auto;
  line-height: 1.6em;
  max-height: 46.080000000000005em;
}
.article-toc h3 {
  font-weight: bold;
  margin-left: 20px;
}
.article-toc .toc-item {
  list-style: none;
  margin-left: 20px;
}
.article-toc .toc-item a {
  color: #000;
  text-decoration: none;
}
@media screen and (min-width: 1400px) {
  .article-toc {
    display: block;
  }
}
#comments {
  margin: 50px 0;
}
.archives-wrap {
  margin: 50px 45px;
}
@media screen and (max-width: 481px) {
  .archives-wrap {
    margin: 50px 10px 50px 45px;
    line-height: 1.4em;
  }
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archive-year-wrap,
.archive-category-wrap,
.archive-tag-wrap {
  font-size: 1.4em;
  margin-bottom: 1em;
}
.archives {
  margin-left: 15px;
  border-left: 1px solid #ddd;
}
.archive-article-inner {
  padding: 5px 10px 5px 12px;
  margin: 15px 0 15px -2px;
  border-left: 3px solid transparent;
}
.archive-article-inner:hover {
  border-left-color: #000;
}
.archive-article-header h1,
.archive-article-header h2,
.archive-article-header h3 {
  display: inline;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  color: #939393;
  text-decoration: none;
  font-size: 0.85em;
  line-height: 1em;
  margin-bottom: 0.5em;
  margin-right: 10px;
}
#page-nav {
  margin: 50px 0px;
  text-align: center;
  position: relative;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  width: 36px;
  height: 36px;
  margin: 0 5px;
  line-height: 36px;
  text-align: center;
  outline: none;
  color: inherit;
}
#page-nav a.prev,
#page-nav a.next {
  margin: 0;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid #f7edde;
  width: 80px;
  position: absolute;
}
#page-nav a:hover,
#page-nav a:focus {
  border-color: #c4c9bb;
}
#page-nav .prev {
  left: 45px;
}
#page-nav .next {
  right: 45px;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 839px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #fff;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background-color: #604721;
}
#page-nav .space {
  color: #ddd;
}
#comments {
  margin: 0 45px;
}
#comments .ds-meta {
  display: none;
}
#comments #ds-thread #ds-reset li.ds-tab a.ds-current {
  border: none;
  background: none;
}
#footer {
  padding: 10px 0;
  text-align: center;
}
#footer a {
  font-weight: 600;
  color: inherit;
}
#footer-info {
  line-height: 1.6em;
  font-size: 0.85em;
  white-space: nowrap;
  margin-left: 20px;
}
.article-entry pre,
.article-entry .highlight {
  margin: 0;
  font-size: 14px;
  background: #f8f8f8;
  padding: 15px 0;
  overflow: auto;
  color: #224;
  line-height: 1.6;
  border-left: 5px solid #ccc;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace, '华文中宋';
}
.article-entry code {
  background: #f2f2f2;
  padding: 0 0.3em;
}
.article-entry pre {
  padding: 20px;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry pre .highlight {
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0 20px;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: highlight-comment;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter {
  display: none;
}
.article-entry .highlight .gutter pre {
  text-align: right;
}
.article-entry .highlight .line {
  height: 25.6px;
}
.article-entry .gist {
  margin: 0;
  padding: 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace, '华文中宋';
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: highlight-background;
  color: highlight-comment;
  font: 0.85em font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
}
.article-entry .gist .gist-file .gist-meta a {
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .tag,
pre .css .rules,
pre .css .value,
pre .css .function,
pre .preprocessor,
pre .pragma {
  color: #c4b;
}
pre .strongemphasis,
pre .strong,
pre .emphasis {
  color: #a8a8a2;
}
pre .bullet,
pre .blockquote,
pre .horizontal_rule,
pre .number,
pre .regexp,
pre .alias .keyword,
pre .literal,
pre .hexcolor {
  color: #ae81ff;
}
pre .tag .value,
pre .code,
pre .title,
pre .css .class,
pre .class .title:last-child {
  color: #690;
}
pre .link_url {
  font-size: 80%;
}
pre .strong,
pre .strongemphasis {
  font-weight: bold;
}
pre .emphasis,
pre .strongemphasis,
pre .class .title:last-child {
  font-style: italic;
}
pre .keyword,
pre .function,
pre .change,
pre .winutils,
pre .flow,
pre .nginx .title,
pre .tex .special,
pre .header,
pre .attribute,
pre .symbol,
pre .symbol .string,
pre .tag .title,
pre .value,
pre .alias .keyword:first-child,
pre .css .tag,
pre .css .unit,
pre .css .important {
  color: #07a;
}
pre .function .keyword,
pre .class .keyword:first-child,
pre .constant,
pre .css .attribute {
  color: #07a;
}
pre .variable,
pre .params,
pre .class .title {
  color: #c4b;
}
pre .string,
pre .css .id,
pre .subst,
pre .type,
pre .ruby .class .parent,
pre .built_in,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt,
pre .link_label,
pre .link_url {
  color: #690;
}
pre .comment,
pre .javadoc,
pre .annotation,
pre .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #5d6a6a;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata,
pre .xml .php,
pre .php .xml {
  opacity: 0.5;
}
.layout-wrap {
  margin: 50px 45px;
}
.layout-title {
  font-size: 1.4em;
  margin-bottom: 1em;
}
.layout-wrap-inner .category-list,
.layout-wrap-inner .category-list-child {
  line-height: 1.8em;
}
.layout-wrap-inner .category-list:before,
.layout-wrap-inner .category-list-child:before,
.layout-wrap-inner .category-list:after,
.layout-wrap-inner .category-list-child:after {
  content: "";
  display: table;
}
.layout-wrap-inner .category-list:after,
.layout-wrap-inner .category-list-child:after {
  clear: both;
}
.layout-wrap-inner .category-list-child {
  margin-left: 24px;
}
.layout-wrap-inner li:before {
  content: '>';
  float: left;
  padding: 0 16px 0 0;
}
.layout-wrap-inner .category-list-count {
  margin-left: 8px;
  color: #939393;
}
.layout-wrap-inner .category-list-count:before {
  content: '(';
}
.layout-wrap-inner .category-list-count:after {
  content: ')';
}
.tag-cloud a {
  margin-right: 8px;
}
.tag-cloud a:before {
  content: '#';
}
.fancybox-skin {
  padding: 0 !important;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: "Martel Sans", 'PT Serif', 'STZhongsong', '华文中宋', 'Microsoft Yahei', sans-serif;
}
.fancybox-skin .fancybox-title .child {
  background: none;
  font-weight: 400;
  font-size: 16px;
  font-family: "Martel Sans", 'PT Serif', 'STZhongsong', '华文中宋', 'Microsoft Yahei', sans-serif;
  text-shadow: 1px 3px 3px rgba(0,0,0,0.5);
}
#sidebar.sidebar-hide {
  -webkit-transform: translateX(-270px);
  -moz-transform: translateX(-270px);
  -ms-transform: translateX(-270px);
  transform: translateX(-270px);
}
#sidebar.sidebar-hide .hide-button {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#sidebar {
  text-align: center;
  background-image: url("/images/114H-1.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: 1000;
  position: fixed;
  width: 300px;
  max-width: 100%;
  height: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}
#sidebar .sidebar-wrap {
  background-color: rgba(59,59,59,0.8);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 2em 1em;
}
#sidebar .logo {
  position: relative;
  margin-top: 35px;
}
#sidebar .logo img {
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -ms-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  -ms-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
}
#sidebar .logo span {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 3em;
  left: 0;
  top: 50%;
  margin-top: -26px;
  pointer-events: none;
}
#sidebar .close-button {
  position: absolute;
  border: none;
  background: none;
  margin: 0;
  z-index: 100;
  top: 0;
  right: 0;
  font-size: 18px;
  color: #ddd;
  cursor: pointer;
  pointer-events: none;
  padding: 20px 30px;
  opacity: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#sidebar .close-button:hover {
  color: #7b7b7b;
}
#sidebar .hide-button {
  position: absolute;
  top: 33px;
  height: 60px;
  margin-top: -30px;
  width: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #343a40;
  right: 0;
  z-index: 99;
  opacity: 0.3;
  color: #fff;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
#sidebar .hide-button:hover {
  opacity: 0.6;
}
#sidebar .intro {
  margin: 1.75em 0 1.25em;
  line-height: 1;
  font-family: "Playfair Display", serif;
  font-size: 22px;
}
#sidebar-nav {
  padding-bottom: 1em;
  font-size: 16px;
}
#sidebar-nav a {
  margin: 0 auto;
  width: 120px;
  text-align: left;
  color: inherit;
  display: block;
  padding: 10px 0;
}
#sidebar-nav a:hover,
#sidebar-nav a.nav-current {
  color: #c4c9bb;
}
#sidebar-nav a i {
  padding-right: 6px;
  font-size: 0.9em;
}
#sidebar-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}
.social li {
  list-style: none;
  display: inline-block;
  padding: 0px;
  margin: 2px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.social a {
  display: block;
  position: relative;
  top: 50%;
  margin-top: -0.5em;
  color: rgba(59,59,59,0.8);
}
.social a:hover {
  color: #333;
}
@media screen and (max-width: 599px) {
  #sidebar {
    -webkit-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    -webkit-transition: -webkit--webkit-transform 0.3s;
    -moz-transition: -webkit--moz-transform 0.3s;
    -ms-transition: -webkit--ms-transform 0.3s;
    transition: -webkit-transform 0.3s;
  }
  #sidebar.sidebar--open {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  #sidebar .hide-button {
    display: none;
  }
  #sidebar .close-button {
    opacity: 1;
    pointer-events: auto;
  }
}
.grid {
  position: relative;
}
.grid::after {
  content: '';
  background: rgba(202,202,202,0.4);
  opacity: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.grid__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 45px 55px 30px;
  position: relative;
  color: #2d2d40;
  background: #fff;
  min-height: 300px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.grid__item::before {
  position: absolute;
  content: '';
  top: 0px;
  right: 55px;
  bottom: 0px;
  left: 55px;
  border-bottom: 1px solid rgba(74,74,74,0.075);
}
.grid__item * {
  z-index: 10;
}
.grid__item a {
  line-height: 1.4em;
  color: inherit;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.grid__item .title {
  margin: 0;
  font-size: 1.875em;
  text-align: center;
  word-break: break-all;
}
.grid__item .title--preview {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}
.grid__item .loader {
  height: 1px;
  width: 40%;
  margin: 1em auto;
  position: relative;
  background: rgba(0,0,0,0.1);
}
.grid__item .loader::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #a4e7ad;
  left: 0;
  top: -1px;
  -webkit-transform: scale3d(0, 1, 1);
  -webkit-transform: scale3d(0, 1, 1);
  -moz-transform: scale3d(0, 1, 1);
  -ms-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
.grid__item .grid__item--loading .loader::before {
  -webkit-transition: -webkit-transform 1s;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  transition: transform 1s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.grid__item .category {
  margin: 0;
  position: relative;
  font-size: 0.95em;
  font-style: italic;
  font-family: "Playfair Display", serif;
  text-align: center;
  display: block;
}
.grid__item .meta__desc {
  text-align: left;
  margin-top: 10px;
}
.grid__item .meta__tag {
  height: 40px;
  margin: 0.75em auto 1.25em;
  font-size: 0.75em;
  text-align: left;
}
.grid__item .meta__tag li {
  display: inline-block;
  color: #969696;
  border: 1px solid #969696;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  padding: 5px 10px;
  line-height: 1em;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 4px 5px 0 0;
}
.grid__item .meta__tag li:hover {
  border: 1px solid #757272;
  background-color: #757272;
}
.grid__item .meta__tag li:hover a {
  color: #fff;
}
.grid__item .meta__date,
.grid__item .meta__reading-time {
  display: block;
  float: left;
  color: #aaa;
}
.grid__item .meta__reading-time {
  float: right;
  text-align: right;
}
@media screen and (max-width: 599px) {
  .grid__item {
    padding: 45px 45px 30px;
  }
}
@media screen and (min-width: 600px) {
  .grid__item {
    padding: 45px 45px 30px;
  }
}
@media screen and (min-width: 900px) {
  .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .grid__item {
    width: 50%;
    border: none;
  }
  .grid__item::before {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 1px solid rgba(74,74,74,0.075);
    -webkit-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .grid__item:hover::before,
  .grid__item:focus::before {
    border: 3px solid rgba(129,196,131,0.5);
  }
  .grid__item--loading.grid__item::before {
    opacity: 0;
  }
}
@media screen and (min-width: 1200px) {
  .grid__item {
    width: 48%;
  }
}
@media screen and (min-width: 1500px) {
  .grid__item {
    width: 33.3%;
  }
}
@media screen and (min-width: 1800px) {
  .grid__item {
    width: 25%;
  }
}
@media screen and (min-width: 2100px) {
  .grid__item {
    width: 16.66%;
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
